.about_delivery {
    padding: 100px 0 90px 0;

    .home {
        width: 92%;
        margin: auto auto 20px;
        font-size: 12px;
        color: #b3b3b3;
        display: flex;
        gap: 1rem;
        align-items: center;

        a {
            color: #424242;
        }

        a:hover {
            color: #4CAF50;
        }
    }

    .container {
        display: flex;
        gap: 5rem;
        width: 75%;

        ul {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            max-width: 800px;

            a {
                font-size: 20px;
                color: #424242;
                margin: 0 0 20px;
                transition: all 0.3s;
            }

            a:hover {
                color: #4CAF50 !important;
                transition: all 0.3s;
            }

            h1 {
                font-size: 32px;
                color: #424242;
            }
        }

        .right {
            padding: 20px 0 20px 30px;
            border-left: 1px solid #EEE;

            img {
                width: 100%;
            }

            p {
                font-size: 24px;
                color: #424242;
                font-weight: 900;
            }

            span {
                font-size: 18px;
                font-weight: normal;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                b {
                    font-weight: 900;
                    font-size: 18px;
                }
            }
        }
    }
}

@media all and (max-width: 990px) {
    .about_delivery {
        .container {
            width: 92%;
            gap: 1rem;

            ul {
                gap: 1rem;
                width: 25%;

                a {
                    margin: 0;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .right {
                padding: 0 3%;
                width: 75%;

                h1 {
                    font-size: 24px;
                    margin: 0 0 20px;
                }

                img {
                    margin: 0 0 50px;
                }
            }
        }
    }
}

@media all and (max-width: 500px) {
    .about_delivery {
        padding: 60px 0 90px 0;

        .container {
            flex-direction: column;
            gap: 1rem;
            width: 92%;

            ul {
                width: 100%;
            }

            .right {
                padding: 0;
                border: none;
                width: 100%;

                img {
                    margin: 0 0 30px;
                }

            }
        }
    }
}